/*

    ROWS COORDS

*/

.Row {
    position: relative;
}

.Row::before {
    position: absolute;
    left: -24px;
    top: 16px;
    color: var(--color-primary);
    font-size: 16px;
}

.Row:nth-child(1)::before {
    content: '1';
}

.Row:nth-child(2)::before {
    content: '2';
}

.Row:nth-child(3)::before {
    content: '3';
}

.Row:nth-child(4)::before {
    content: '4';
}

.Row:nth-child(5)::before {
    content: '5';

}

.Row:nth-child(6)::before {
    content: '6';
}

.Row:nth-child(7)::before {
    content: '7';
}

.Row:nth-child(8)::before {
    content: '8';
}

/*

    COLUMNS COORDS

*/



.Row:last-child .Square {
    position: relative;
}

.Row:last-child .Square::before {
    position: absolute;
    left: 16px;
    bottom: -28px;
    color: var(--color-primary);
    font-size: 16px;
}

.Row:last-child .Square:nth-child(1)::before {
    content: 'a';
}

.Row:last-child .Square:nth-child(2)::before {
    content: 'b';
}

.Row:last-child .Square:nth-child(3)::before {
    content: 'c';
}

.Row:last-child .Square:nth-child(4)::before {
    content: 'd';
}

.Row:last-child .Square:nth-child(5)::before {
    content: 'e';
}

.Row:last-child .Square:nth-child(6)::before {
    content: 'f';
}

.Row:last-child .Square:nth-child(7)::before {
    content: 'g';
}

.Row:last-child .Square:nth-child(8)::before {
    content: 'h';
}